h1{
  color: brown;
}
ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color: burlywood;
}
.note{
  font-size: 25px;
}
#id-selector-demo{
  color: chocolate;
}
li[value="4"]{
  color: rgb(62, 18, 18);
}
*{
  text-align: center ;
}